body {
  background: #f7c6d0;
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
  text-align: center;
}


/* START */

#startScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#startScreen h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.arrow {
  font-size: 50px;
  cursor: pointer;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(15px);}
  100% {transform: translateY(0);}
}


/* COMMON */

.hidden {
  display: none;
}

input, select, button {
  width: 90%;
  padding: 10px;
  margin: 8px;
}


/* VERIFICATION */

#verifyScreen {
  width: 400px;
  background: white;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}


/* DASHBOARD */

#dashboard {
  padding: 20px;
}


#pinboard {
  background: white;
  width: 80%;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}

.pin {
  background: #ffd6e0;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}


.jobSection {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.box {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

.box h3 {
  text-align: center;
}

label {
  display: block;
  margin: 5px;
}


button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #444;
}


/* CHATBOT */

#chatbot {
  width: 70%;
  margin: 20px auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

#chatBox {
  height: 200px;
  border: 1px solid gray;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}
